html {
  scroll-behavior: smooth;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
